main{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container{
    margin-bottom: 100px;
    padding: 0;
}

h1{
    font-size: 2.5em;
}

.navbar{
    padding-top: 0;
}

nav .container{
    background-color: #f8f9fa;
    padding: 8px 16px;
}

.carousel-inner{
    border-radius: 10px;
}

.carousel-control-prev, .carousel-control-next{
    width: 5%;
}

.bg-color {
    background-color: #fceae8;
}

.txt-color{
    color:#ff3c89;
}

.btn{
    background-color: #ff3c89;
    padding: 9px 25px;
    border-radius: 10px;
}
.btn a{
    text-decoration: none;
}

.category-border{
    border-radius: 10px;
}

.ctgy1-bg-color{
    background-color:#ffa500;
}

.ctgy2-bg-color{
    background-color: #da70d6;
}

.ctgy3-bg-color{
    background-color: #0000ff;
}